// Use this file as a starting point for your projects .eslintrc.
// Copy this file, and add rule overrides as needed.
{
    "extends": "airbnb",
    "env": {
        es6: true,
        node: true,
        browser: true
    },
    "rules" : {
        // enforce indentation of 4 spaces
        // http://eslint.org/docs/rules/indent
        "indent": ["error", 4],

        "max-len": "off",

        "no-shadow": "off",

        // disallowing comma trailing
        // http://eslint.org/docs/rules/max-len
        "comma-dangle": ["error", "never"],

        // disallowing space after function name
        // http://eslint.org/docs/rules/space-before-function-paren
        "space-before-function-paren": "error",

        // allowing unary operators
        // http://eslint.org/docs/rules/no-plusplus
        "no-plusplus": "off",

        // Forbid the use of dev packages
        // https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-extraneous-dependencies.md
        "import/no-extraneous-dependencies": ["error",
            {
            "devDependencies": false
            }
        ],

        // enforce braces in arrow function bodies
        // http://eslint.org/docs/rules/arrow-body-style
        "arrow-body-style": ["error", "always"]
    },
    "globals" : {
        "window": true
    }
}
